@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100%;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
#formdiv{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.div-container{
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.div-container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.div-container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.div-content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .div-container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .div-content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .div-container .div-content .category{
    flex-direction: column;
  }
}

/* Table container style Css */
table.list{
  text-align:center;
  width:100%;
  
}
td{
text-align: left;
padding: 8px 15px;
}

.table-container{
  max-width: 1250px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  padding: 10px;
}
.table-container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.table-container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.table-content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}


#tablediv{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


 .css-serial {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
 }
 .css-serial td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
 }

 /* /Navbar css */

 .colornav{
  color:#fff !important;
  font-weight: 900;
 }
 
.bgblur {
    background: transparent ;
    backdrop-filter: blur(10px);
  
}
 .btnnav{
   border-radius: 5px;
   border: none;
   color: #fff !important;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);  
 }
 .btnnav:hover{
  background: linear-gradient(-135deg, #9b59b6,#71b7e6);
  color: #000 !important;
  }

  .btnED{
    border-radius: 3px;
    padding: 2px;
    margin:0 5px 0 5px ;
    border: none;
    color: #fff !important;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);  
  }
  .btnED:hover{
   background: linear-gradient(-135deg, #9b59b6,#71b7e6);
   color: #000 !important;
   
   }
td{
text-align: center;
}

.linkr{
  text-decoration: none;
  
}